<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>FlatsGR</title>
  <link rel="stylesheet" href="/static/stylesheet/style.css" type="text/css"  />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
  <script type="text/javascript" src="/static/javascripts/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- Основной блок сайта -->
    <div id="basic">
<!--шапка сайта-->
		 <div id="head-site">
			<a href="#"><img src="/static/images/logo.png" width="200" alt="FlatsGR" title="FlatsGR" /></a>
		  </div>
		  <!-- Верхнее меню сайта -->
        <div id="menu-top">
        <div class="bg-1">
            <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/Flats">Flats</a></li>
            <li><a href="/AboutUS">About US</a></li>
            </ul>
        </div>
        <div class="bg-2"></div>
		<!-- Контент - правый блок -->
        <div  class="right">
                <h1 text-align="center" style="font-weight:bold;font-family: Inconsolata;"   >Вас приветствует команда проекта FlatsGR</h1>
                <p style="font-weight:bold;font-family:sans-serif; margin-top: 60px;font-size: 17px;" >Этот сайт - командный проект студентов УГАТУ группы ПРО-329 Губайдуллина Булата,Раевой Эльвиры,Машкова Игоря,Двалишвилли Гогиты. Цель проекта: приобретение практических навыков проектированию и конструированию ПО.</p>
                  
                <img src="/static/images/1.jpg" height="260" width="200" alt="" title="Булат" style="margin-left:10px;margin-top:80px; border-radius: 15px;" />
                <img src="/static/images/2.jpg" height="260" width="200" alt="" title="Эльвира" style="margin-left:10px;border-radius: 15px;" />
				<img src="/static/images/3.jpg" height="260" width="200" alt="" title="Игорь" style="margin-left:10px;border-radius: 15px;" />
				<img src="/static/images/4.jpg" height="260" width="200" alt="" title="Гогита" style="margin-left:10px;border-radius: 15px;" />
  
                
           
        </div>
		<div class="social github">
		<a href="#" target="_blank"><i class="fa fa-github fa-2x"></i></a>
		</div>
		<div class="social vk">
		<a href="https://vk.com/45ark97" target="_blank"><i class="fa fa-vk fa-2x"></i></a>    
		</div>
		<div class="social vk">
		<a href="https://vk.com/id329914755" target="_blank"><i class="fa fa-vk fa-2x"></i></a>    
		</div>
        </div>
    </div>

		<script type="text/javascript" src="/static/javascripts/topmenu.js"></script>
		<script type="text/javascript" src="/static/javascripts/jqfunc.js"></script>

</body>
</html>