<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/static/stylesheet/style.css" type="text/css" />
</head>
<body>
    <!-- Основной блок сайта -->
    <div id="basic">
<!--шапка сайта-->
		 <div id="head-site">
			<a href="#"><img src="/static/images/{{imgs[0]}}" width="200" alt="FlatsGR" title="FlatsGR" /></a>
		  </div>
		  <!-- Верхнее меню сайта -->
        <div id="menu-top">
        <div class="bg-1">
            <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">Flats</a></li>
            <li><a href="#">About US</a></li>
            </ul>
        </div>
        <div class="bg-2"></div>
		<!-- Контент - правый блок -->
        <div  class="right">
                <h1 text-align="center" style="font-weight:bold;font-family: sans-serif;"   >Добро пожаловать в FlatsGR</h1>
                <p style="font-weight:bold;font-family:sans-serif; margin-top: 60px;font-size: 17px;" >FlatsGR - это веб-сайт, в котором вы можете найти квартиры,какие вам по душе. Вы можете воспользоваться различными фильтрами,поисковиком,сортировками. Удачи в поисках квартиры мечты!</p>
                  
                <img src="/static/images/{{imgs[1]}}" height="300" width="400" alt="" title="" style="margin-left:25px;margin-top:120px;" />
                <img src="/static/images/{{imgs[2]}}" height="300" width="400" alt="" title="" style="margin-left:10px;" />
  
                
           
        </div>
		<div class="block-pod-menu"></div>
            </div>

</body>
</html>